* {
    text-align: center;
    margin: 0 auto 5em auto;
}

.navheading.row {
    margin-top: 1em;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.introducing {
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    color: black;
    width: 100%;
}

.details {
    padding: 0;
}

.howitworks {
    margin: 5em 0;
}

.detail {
    background-color: #df744A;
    margin: 1em;
    height: 20vw;
    width: 20vw;
    font-size: 1.3em;
}

.detail1 {
    background-color: #ffbc8e;
}

.detail3 {
    background-color: #9dd1bb;
}

.detail4 {
    background-color: #61ba95;
}

.logo {
    width: 50px;
    height: 50px;
}

.btn {
    background-color: #df744A;
    border: none;
    white-space: nowrap;
}