.card {
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: block;
}

.itinerarytext {
  font-size: 2.3vw;
  line-height: 3vw;
  width: 60%;
  
  clear: both;
  height: auto;
  display: block;
  overflow: visible;
}

.expimg {
  clear: both;
  height: auto;
  min-height: 10em;
}

.imgcontainer {
  clear: both;
  min-width: 800px;
}

.itinery3{
  color:white;
  text-align: center;
  font-weight: bold;
  height: 40px;
}

.title3{
  margin:0;
  font-size: 20px;
  height: 50px;
}
.baby3{
  font-size: 15px;
}
