/* .sticky-sidebar-content {
  width: 100%;
  margin: 0 auto;
} */
/*
.sticky-sidebar-content::after{
  display:table;
  content:"";
  clear:both;
} */

/* .sticky-sidebar-content .sandbox{
  width:90%;
  margin: 0 0 40px;
  float:right;
} */
