.title h3,
.title h4,
 {
  display: inline;
   text-align: right;
}

h5 {
text-align: center;

}

element:hover{
  text-decoration: none;
   color:#9900ff;
}
element:link {

 color:#FF69B4;
}
element:visited {
 color:#FF69B4;
}

a:link {
text-decoration: none;
 color:hotpink;
}
a:visited {
text-decoration: none;
 color:hotpink;
}
a:hover{
text-decoration: none;
 color:#9900ff;
}

.logoImage {

 max-width: 120px;
 background-color: transparent;

}

.col-4,
.col-2{
  display: flex;
   align-items: center;
   justify-content: center;
justify-content:space-evenly;
}

.hidden div {
  display:none;
 }
