* {
    margin: 0%;
    padding: 0%;
    border: none;
}

.card {
    border: none;
    padding: 0%;
    margin: 0%;
}

.wclcontainer{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: green;
}

.widecontentblock {
    margin: 0;
    padding: 0;
  }