* {
  margin: 0 !important;
  padding: 0 !important;
}

.sticky-sidebar-content {
  width: 100%;
  margin: 0 auto;
}

/*
.sticky-sidebar-content::after{
  display:table;
  content:"";
  clear:both;
} */

.sticky-sidebar-content .sandbox{
  width:90%;
  margin: 0 0 40px;
  float:right;
}

.sticky-sidebar {
  background: #e7eef1;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  position: fixed;
  top: 3%;
  left: 3%;
  width: 10%;
  float: left;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-phil {
  border-radius: 50%;
  border: 10px solid black;
  padding: 5px;
  width: 150px;

}

.App-phil:hover {
  box-shadow: 0 0 20px 10px rgba(0, 140, 186, 0.5);
}

.App-content {
  /* background-color: #282c34; */
  /* min-height: 15vh; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: left; */
  text-align: left;
  /* justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
